<div class="h-header">
    <h1>
        แจ้งปัญหาการใช้งาน
    </h1>
</div>
<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src=".\assets\img\report.JPG">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>