<div class="h-header">
    <h1>
        <mat-icon>trending_up</mat-icon>
        คะแนนสอบ
    </h1>
</div>
<a mat-raised-button  routerLink="/teacherScoreDetail" >ดูคะแนน</a>
<a mat-raised-button  routerLink="/teacherScoreGraph" >ดูกราฟ</a>
<a mat-raised-button disabled c routerLink="/teacherExamDetail" >ดูวิเคราะห์ข้อสอบ</a>
<mat-card class="example-card">
    วิเคราะห์ความยากง่ายของข้อสอบ
    <mat-card-header>
        <mat-divider class="mat-divider-header"></mat-divider>
    </mat-card-header>

    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>