.example-card {
    max-width: 600;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .mat-card-header{
    background-color:lightgray !important;
    padding:0px !important;
  }

  .header-card{
      font-family: 'Kanit' , sans-serif;
  }
  
  .mat-icon {
    vertical-align: top;;
 }
 
 h1{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
}


.mat-divider-header{
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-color: black;
  
}