.graph-card {
    max-width: 600;
    margin: auto;
  }
.mat-card-title{
  font-size: 24px;
}

.mat-list-item{
  font-size: 20px;
}

  .mat-divider-header{
    margin-left: 2px;
    margin-right: 2px;
    border-top-width: 2px;
    border-top-style: dashed;
    border-color: black;
    
  }
  


  .mat-card-header{
    background-color:EBEDEF !important;
    padding:0px !important;
  }

  .mat-card-header-h1{
    text-align: center;
  }

  .header-card{
      font-family: 'Kanit' , sans-serif;
  }
  
  .mat-icon {
    vertical-align: top;;
 }
 
 h1{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
}

p{
    text-decoration: underline;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 16px;
}

rect:hover{
	fill: red;
}

mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  
    > div {
      flex: 50%;
      padding: 10px;
    }
  }

  .mat-elevation-z0{
      max-width: 600px;
      margin: auto;
      border: 0.5px solid gray
  }

  .mat-card-header {
    background-color: #f8f8f8   f;
  }
  .mat-elevation-z0 {
    background-color: #f8f8f8  ;
  }

  .outline {
    border-style: solid;
    border-width: 2px;
}