<div class="h-header">
    <h1>
        <mat-icon>trending_up</mat-icon>
        กราฟคะแนนสอบ
    </h1>
</div>
<a mat-raised-button routerLink="/myScoreDetail" >ดูคะแนน</a>
<a mat-raised-button disabled routerLink="/myScoreGraph" >ดูกราฟ</a>

<mat-card class="mat-base">
    88649359 Capstone Project
<mat-card *ngFor="let data of user" class="mat-elevation-z0 outline">
    <mat-card-header class="mat-card-header-h1">

      <mat-card-title>{{user[0].stdId}} {{user[0].name}}</mat-card-title>

      
    </mat-card-header>
    
    <mat-card-content>
      <mat-list>
        <mat-divider class="mat-divider-header"></mat-divider>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนที่ได้ :   {{user[0].score}}     คะแนน </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนเต็ม :   {{user[0].maxscore}}     คะแนน </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนต่ำสุด :   {{user[0].minscore}}     คะแนน </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนสูงสุด :   {{user[0].maxscore}}     คะแนน </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนเฉลี่ย :   {{user[0].average}}     คะแนน </mat-list-item>
       </mat-list>
      
    </mat-card-content>
  
  </mat-card>
</mat-card>


<mat-card class="graph-card">
    <mat-card-header>
    </mat-card-header>
    
    <h1 style="text-align:center">รายวิชา : Project</h1>
    <figure id="hist"></figure>
    <div id="container"></div>

    <h6><i class="fas fa-circle" style="color: orange"></i> คะแนนที่ได้</h6>
    <h6><i class="fas fa-circle" style="color: #EC5A40;"></i> คะแนนทีไม่ผ่าน</h6>
    <h6><i class="fas fa-circle" style="color: #69b3a2;"></i> คะแนนที่ผ่าน</h6>

    <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>

    <input type="number" class="form-control" [(ngModel)]="bin">
    <button (click)="getBin()">เปลี่ยนค่า bin</button>

    <chart [type]="typeChart" [data]="dataHisChart" [options]="optionsHisChart"></chart>

    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
