<div class="h-header">
    <h1>
        <mat-icon>trending_up</mat-icon>
        คะแนนสอบ
    </h1>
</div>
<a mat-raised-button  routerLink="/teacherScoreDetail" >ดูคะแนน</a>
<a mat-raised-button disabled c routerLink="/teacherScoreGraph" >ดูกราฟ</a>
<a mat-raised-button  routerLink="/teacherExamDetail" >ดูวิเคราะห์ข้อสอบ</a>

<mat-card class="mat-base">
    88649359 Capstone Project
<mat-card *ngFor="let data of user" class="mat-elevation-z0 outline">
    
    <mat-card-content>
      <mat-list>
        
        <mat-list-item> คะแนนเต็ม :   {{user[0].maxscore}}     คะแนน </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนต่ำสุด :   {{user[0].minscore}}     คะแนน </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนสูงสุด :   {{user[0].maxscore}}     คะแนน </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> คะแนนเฉลี่ย :   {{user[0].average}}     คะแนน </mat-list-item>
       </mat-list>
      
    </mat-card-content>
  
  </mat-card>
</mat-card>

<mat-card class="graph-card">
  <mat-card-header>
  </mat-card-header>
  
  <h1 style="text-align:center">รายวิชา : Project</h1>
  <input type="range" name="mySlider" id=mySlider min="10" max="100" value="50">
  <figure id="my_dataviz"></figure>
  <div id="density-chart"></div>
  <figure id="hist"></figure>

  

  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>