<div class="ms-header">
    <h1>
        <mat-icon>list</mat-icon>
        คะแนนสอบของฉัน
    </h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> ชื่อวิชา </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> ชื่อการสอบ </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> วันที่ตรวจ </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="getdetails">
            <th mat-header-cell *matHeaderCellDef> การแสดงข้อสอบ </th>
            <td mat-cell *matCellDef="let element"> 
              <a mat-raised-button color="primary" routerLink="/teacherScoreDetail" >ดูคะแนน</a>
            </td>
          </ng-container>
          
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>