table {
    padding-top: 10px;
     width: 100%;
   }
 
 h1{
     padding-left: 10px;
     padding-top: 20px;
     font-size: 20px;
 }
 
 .mat-icon {
     vertical-align: middle;
  }
  .mat-row{        
     position: relative;
 }
 
 .mat-row-link{
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;             
 }