<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Buuomr</mat-toolbar>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">หน้าแรก</a>
      <a mat-list-item routerLink="course">จัดการวิชา</a>
      <a mat-list-item routerLink="Score">คะแนนสอบ</a>
      <a mat-list-item routerLink="myScore">คะแนนสอบของฉัน</a>
      <a mat-list-item routerLink="teacherScore">คะแนนสอบของชั้นเรียน</a>
      <a mat-list-item routerLink="download">ดาวน์โหลดกระดาษคำตอบ</a>
      <a mat-list-item routerLink="report">แจ้งปัญหา</a>
      <a mat-list-item routerLink="test">test</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
