.nav-list{
  font-family: 'Kanit', sans-serif;
}

.mat-list-item {
  font-family: 'Kanit', sans-serif;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: #fff;
}

.mat-icon-button .mat-icon{
  color: gray
}

