.example-card {
    max-width: 1800px;
  }



  .mat-card-header{
    background-color:lightgray !important;
    padding:0px !important;
  }

  .header-card{
      font-family: 'Kanit' , sans-serif;
  }
  
  .mat-icon {
    vertical-align: top;;
 }
 
 h1{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
}