<div class="h-header">
    <h1>
        <mat-icon>trending_up</mat-icon>
        คะแนนสอบ
    </h1>
</div>
<a mat-raised-button disabled c routerLink="/myScoreDetail" >ดูคะแนน</a>
<a mat-raised-button  routerLink="/myScoreGraph" >ดูกราฟ</a>
<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="\assets/img\test.JPG">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  