/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%; 
    margin: 0%;
}
body{
    margin: 0%;
    font-family: Kanit,sans-serif;
}
html, body { height: 100%; }
body { margin: 0%; 
    font-family: 'Kanit', sans-serif; 
}

@import "~font-awesome/css/font-awesome.css";