rect:hover{
	fill: red;
}

mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  
    > div {
      flex: 50%;
      padding: 10px;
    }
  }

  .mat-card{
      max-width: 400px;
      margin: auto;
      border: 0.5px solid gray
  }

  .mat-card-header {
    background-color: #EBEDEF   f;
  }
  .mat-elevation-z0 {
    background-color: #EBEDEF  ;
  }

  .outline {
    border-style: solid;
    border-width: 2px;
}