<h2>Bar Chart</h2>
<mat-card class="mat-elevation-z0 outline">
  <mat-card-header class="mat-card-header">
    <mat-card-title>59160084 ชนาสิน เชิดกายเพชรา</mat-card-title>
    <mat-card-subtitle>Today: July 10, 2020</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>

</mat-card>
<p>
  <label># bins</label>
  <input type="number" min="1" max="100" step="30" value="20" id="nBin">
</p>
<div id="my_dataviz"></div>

