<div class="h-header">
    <h1>
        <mat-icon>home</mat-icon>
        หน้าแรก
    </h1>
</div>
<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src=".\assets\img\Home.JPG">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>