<div class="h-header">
  <h1>
    <mat-icon>trending_up</mat-icon>
    คะแนนสอบ
  </h1>
</div>
<div><a mat-raised-button disabled c routerLink="/teacherScoreDetail">ดูคะแนน</a>
  <a mat-raised-button routerLink="/teacherScoreGraph">ดูกราฟ</a>
  <a mat-raised-button routerLink="/teacherExamDetail">ดูวิเคราะห์ข้อสอบ</a>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="stdId">
    <th mat-header-cell *matHeaderCellDef> stdId </th>
    <td mat-cell *matCellDef="let element"> {{element.stdId}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> lastname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef> group </th>
    <td mat-cell *matCellDef="let element"> {{element.group}}
    </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> score </th>
    <td mat-cell *matCellDef="let element"> {{element.score}}
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>